body, main {
    display: flex;
}
body {
    flex-direction: column;
    background-image: url(Images/Background.jpg);
}
main {
    flex-direction: row;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
h1 {
    border-bottom: 1px solid black;
}
.comments {
    background-image: url(Images/Background.jpg);
}
.thread {
    background-color:bisque;
}
.img1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background-color: darksalmon;
}
